.place__image {
  max-width: 460px;
}

@media screen and (max-width: 1100px) {
  .place__image {
    max-width: 440px;
  }
}

@media screen and (max-width: 880px) {
  .place__image {
    max-width: 340px;
  }
}

@media screen and (max-width: 788px) {
  .place__image {
    max-width: 340px;
  }
}

@media screen and (max-width: 690px) {
  .place__image {
    max-width: 280px;
  }
}

@media screen and (max-width: 320px) {
  .place__image {
    max-width: 320px;
  }
}