.footer__href {
  color: #fff;
  font-size: 16px;
  line-height: 18px;
  text-decoration: none;
}

.footer__href:hover {
  opacity: .8;
}

@media screen and (max-width: 320px) {
  .footer__href {
    font-size: 24px;
    line-height: 24px;
  }
}