.content__cover {
  margin: 0 48px 92px;
}

@media screen and (max-width: 1024px) {
  .content__cover {
    margin: 0 0 92px;
  }
}

@media screen and (max-width: 768px) {
  .content__cover {
    margin: 0 0 88px;
  }
}

@media screen and (max-width: 320px) {
  .content__cover {
    margin: 0 0 64px;
  }
}