.footer__links {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: wrap;
}

@media screen and (max-width: 672px) {
  .footer__links {
    margin-bottom: 30px;
    justify-content: center;
  }
}

@media screen and (max-width: 320px) {
  .footer__links {
    flex-direction: column;
    margin-bottom: 48px;
  }
}