.cover__title {
  margin: 0 auto 32px;
  padding-top: 245px;
  font-size: 72px;
  line-height: 76px;
  font-weight: 900;
  max-width: 560px;
  text-align: center;
}

@media screen and (max-width: 1024px) {
  .cover__title {
    padding-top: 195px;
  }
}

@media screen and (max-width: 768px) {
  .cover__title {
    padding-top: 115px;
  }
}

@media screen and (max-width: 530px) {
  .cover__title {
    padding-top: 55px;
    font-size: 62px;
    line-height: 65px;
  }
}

@media screen and (max-width: 460px) {
  .cover__title {
    padding-top: 55px;
    font-size: 50px;
    line-height: 53px;
  }
}

@media screen and (max-width: 380px) {
  .cover__title {
    padding-top: 35px;
    font-size: 42px;
    line-height: 45px;
  }
}

@media screen and (max-width: 320px) {
  .cover__title {
    padding-top: 33px;
    font-size: 32px;
    line-height: 35px;
    margin-bottom: 16px;
  }
}