.place {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 48px 40px;
}

@media screen and (max-width: 1100px) {
  .place {
    grid-gap: 48px 32px;
  }
}

@media screen and (max-width: 788px) {
  .place {
    grid-gap: 48px 28px;
  }
}

@media screen and (max-width: 625px) {
  .place {
    grid-template-columns: 1fr;
    grid-gap: 48px;
  }
}

@media screen and (max-width: 320px) {
  .place {
    grid-gap: 32px;
  }
}